<div class="col-md-4 column">
    <h2>
        Heading
    </h2>
    <marquee direction="up" width="250" height="300">
        <p>做人要厚道AAA</p>
        <p>做人要厚道BBB</p>
        <p>做人要厚道CCC</p>
        <p>做人要厚道DDD</p>
    </marquee>
    <marquee direction="up" width="250" height="300">
        <p>做人要厚道AAA</p>
        <p>做人要厚道BBB</p>
        <p>做人要厚道CCC</p>
        <p>做人要厚道DDD</p>
    </marquee>
</div>