<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<% include ./head.ejs%>

<body class="no-trans">

<% include header.ejs%>

<%include ./banner.ejs%>

<% for(var i=0; i<images.length; ++i) { %>
<div class="row clearfix">

    <div class="col-md-2 column">
    </div>

    <div class="col-md-8 column">
        <img alt="140x140" src="<%= images[i].image%>" />
    </div>

    <div class="col-md-2 column">
    </div>

</div>
<%}%>
<% include ./script.ejs %>

</body>
</html>
