<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="keywords" content="上海按摩|上海上门按摩|上海丝足按摩|上海如家酒店按摩|上海保健按摩" />
    <meta name="description" content="上海如家上门按摩会所是一家专业的上海上门按摩,电话:13761079413公司成立于2008年.具有8年从事上海上门按摩服务的经验.公司采用网络直销模式，提供上海上门按摩，上海丝足按摩，上海酒店上门按摩，上海按摩会所，上海保健按摩，上海如家酒店按摩，上海浦东上门按摩，上海徐汇上门按摩，上海卢湾上门按摩，上海静安上门按摩，上海闵行上门按摩，上海杨浦上门按摩，上海闸北上门按摩，上海普陀上门按摩，上海黄浦上门按摩，上海长宁上门按摩" />
    <title>上海如家上门按摩会所</title>
    <style type="text/css">
        body{margin:0; padding:0; font:16px/30px 微软雅黑,黑体; color:#ffffff; background:#000 url("images/bg.jpg") fixed;}
        img{display:block;}
        .italic{font-style:italic;}
        .menu{width:1100px; height:38px; margin:0 auto; padding:0 0 0 50px; overflow:hidden;}
        .menu a{width:94px; height:38px; margin:0 0 0 20px; display:inline; float:left; font:15px/38px 微软雅黑,黑体; color:#ffffff; text-align:center; text-decoration:none; overflow:hidden;}
        .menu a:hover{width:94px; height:38px; float:left; font:15px/38px 微软雅黑,黑体; color:#ffffff; text-align:center; text-decoration:none; background:#000 url("images/menu_bg.jpg") center no-repeat; overflow:hidden;}
        .menu a.open{width:94px; height:38px; float:left; font:15px/38px 微软雅黑,黑体; color:#ffffff; text-align:center; text-decoration:none; background:#000 url("images/menu_bg.jpg") center no-repeat; overflow:hidden;}
        .font1{font-weight:bold; color:#f2009f;}
        .font2{font-weight:bold; color:#000000;}
    </style>
    <script language="javascript">
        document.oncontextmenu=new Function("event.returnValue=false");
        document.onselectstart=new Function("event.returnValue=false");
    </script>
    <SCRIPT language="javascript" type="text/javascript" src="css.php" ></SCRIPT>

    <link href="/favicon.ico" rel="shortcut icon">

    <!-- rujia21.com Baidu tongji analytics -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?5b33bcb9c997a61afbcec62feb2db42d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</head>
<body>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td width="130" height="130" align="center" valign="middle">&nbsp;</td>
        <td width="590" align="center" valign="middle" style="font:bold 45px 微软雅黑,黑体; color:#ffffff;"><script type="text/javascript">document.write(""+remote_ip_info+"上海如家上门按摩会所"); </script>
            上海如家上门按摩会所</td>
        <td width="430" align="center" valign="middle"><table width="430" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
                <tr>
                    <td width="30" height="29" align="left" valign="middle"><img src="images/ico1.png"  width="35" height="110"  alt=""/></td>
                    <td width="400" align="left" valign="middle" style="font:bold 30px 微软雅黑,黑体; color:#f2009f;">137-6107-9413<br>137-6107-9413<br>212-8880-374</td>
                </tr>
            </table></td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="38" align="left" valign="top" bgcolor="#000000">
            <div class="menu">
                <a class="open" href="index.html" >网站首页</a>
                <a href="photo1.html" >专职普通</a>
                <a href="photo2.html" >专职优质</a>
                <a href="photo3.html" >兼职白领</a>
                <a href="photo4.html" >兼职模特</a>
                <a href="index.html#about" >会所简介</a>
                <a href="index.html#process" >服务流程</a>
                <a href="index.html#service" >服务项目</a>
                <a href="index.html#reminder" >温馨提示</a>
            </div>
        </td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:10px auto;">
    <tr>
        <td height="380" align="left" valign="top"><img src="ww2.sinaimg.cn/large/006v3i7Kgw1f4v4pyw83sg30vy0ak13n.jpg.gif"  width="1150" height="380"  alt=""/></td>
    </tr>
</table>
<table id="about" width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="210" align="left" valign="top"><img src="images/title_1.png"  width="1150" height="210"  alt=""/></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td width="322" height="429" align="left" valign="top"><img src="images/club_profile_left.png"  width="322" height="574"  alt=""/></td>
        <td width="828" align="left" valign="top" style="background:url(images/club_profile_right.png) left top no-repeat;"><table width="750" border="0" cellspacing="0" cellpadding="0" style="margin:50px auto 0 auto;">
                <tr>
                    <td height="38" align="left" valign="top">
                        　　<script type="text/javascript">document.write(""+remote_ip_info+"上海如家上门按摩会所"); </script>
                        上海如家上门按摩会所成立于2008,至今为止具有8年<strong>上海上门按摩</strong>服务的经验,会所采用网络直销模式,为在沪人士提供一站式按摩服务,以消除身心疲劳,让您足不出户,就能享受高质量上门按摩,专业的兼职按摩团队。
                        <br />
                        　　既然我们不能免俗，选择了生活在此都会，我们无法脱节，何不放下压力？累了倦了，上门按摩是一个很好的减压方式。养身养心，寻一方尊邸，滋养身心，方能以更好的恣态面对那你又爱又恨的繁华都会。执一杯香茗，来一段音乐，悠然体会身体与心灵的耳语。上海丝会所为您提供特色丝足、丝足养生、丝足诱惑等项目。会所是一家打造绿色文化品牌和服务的私人养生保健会所。 动人的高跟丝足，是一种幽然尘外的唯美，是一种摄人心神的唯美，这里是您心灵和身体的归宿，您不必匆忙，您没有压抑，让您的身体进入全然的放松状态，为您消除所以的寂寞，空虚，身心疲惫。 根据中医经络养生原理,结合足文化精华,通过足模技师的纤纤玉足对身体不同穴位，关节，进行按摩 。让你在温馨的环境下放松情绪至调养身心体验。<br />
                        　　<script type="text/javascript">document.write(""+remote_ip_info+"上海如家上门按摩会所"); </script>
                        我们拥有多位年轻貌美的按摩技师,可为您提供全身按摩等全方位优质上门按摩服务.本着"品质第一,服务至上"的理念24小时全天侯为您提供上门服务,为追求健康与美好生活的您送去真诚与温暖.无论您家住本地,还是旅游出差来沪,只需一个电话,我们为您解除一天的疲惫,让您拥有一个甜蜜,轻松,舒心的夜晚无论您喜欢何种类型,我们都能满足您的愿景!<br />

                        24小时服务，期待您的来电，期待为您服务，期待.........
                    </td>
                </tr>
            </table></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td width="837" height="468" align="left" valign="top" style="background:url(images/member_comments.png) left top no-repeat;">

            <div id="demo" style="width:770px; height:380px; margin:70px 0 0 50px; overflow:hidden;">
                <div id="demo1">
                    <table width="100%" border="0" cellspacing="2" cellpadding="0" style="margin:0 auto;">
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">张先生（137****4991）</span><br />
                                非常有特色呵呵约过好多次，每次技师质量都有保证</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">王先生（139****2514）</span><br />
                                感觉非常的不错，最主要的是美女服务的很好很专业，有种皇帝的感觉！！</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">钟先生（139****6355）</span><br />
                                很爽很舒服，推荐白领103，性价比不错。</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">田先生（133****7977）</span><br />
                                技师手法好！今天15号技师替我按摩，相当专业！</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">苏先生（137****1755）</span><br />
                                私密比较好，也比较安全</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">代先生（138****8468）</span><br />
                                技术水平太好了，很喜欢噢~~~~~</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">陈先生（136****3511）</span><br />
                                有幸在最美好的年华里，遇见你。很爽很舒服！</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">刘先生（135****1376）</span><br />
                                小姐不错 长得很漂亮 身材很正点，皮肤又白，回味无穷，哈哈</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">李先生（131****2321）</span><br />
                                这已经是我第二次找你们了，依然很棒，很爽，还会再来的！</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">黄先生（135****3664）</span><br />
                                很专业，服务很周到，很舒服。。。。</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">周先生（139****3237）</span><br />
                                252很漂亮,一米六四的身高,个子也非常的匀称,身材更...</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">胡先生（135****8566）</span><br />
                                随叫随到，美女很漂亮，服务质量很好！ 太爽了，波波哒！</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">马先生（139****2858）</span><br />
                                107丽丽很性感，动作也很到位，还是在家的感觉很自然...</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">全先生（134****5395）</span><br />
                                哥们小美很不错哦，遇到了就别放过，不然就是你的损失咯</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">段先生（139****1379）</span><br />
                                环境ok，服务相当不错！技师漂亮年轻，手法很专业</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">林先生（131****6561）</span><br />
                                已经感受了无数次，想必不用多说更多了，处在闹市的静谧是最享受的，仿佛被隔绝了一样感受全身的放松。</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">马先生（137****6721）</span><br />
                                服务的姑娘手法很好，态度也很不错 好评</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">卢先生（139****8641）</span><br />
                                技师水平不错 扳过来那下听到美女的声音..</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">朱先生（135****3885）</span><br />
                                按摩手法可以～技师服务也可以 ～～</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">陈先生（138****2791）</span><br />
                                挺好的，约了几次了，按的很舒服</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">李先生（136****6766）</span><br />
                                蛮好的，就在家附近的酒店，技师的手艺不错，下次还会</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">韩先生（139****6341）</span><br />
                                满意，好久没有约了，没想到，服务水平还是很好，</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#f2009f" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#ffffff;"><span class="font2">崔先生（139****3982）</span><br />
                                昨天第一次做，10号真心不错，人长得也漂亮，按的很舒服，下次还找她</td>
                        </tr>
                        <tr>
                            <td height="87" align="left" valign="middle" bgcolor="#ffffff" style="padding:0 15px; font:16px/23px 微软雅黑,黑体; color:#000000;"><span class="font1">苏先生（134****1864）</span><br />
                                技师手法很好，好像是6号！！</td>
                        </tr>
                    </table>
                </div>
                <div id="demo2"></div>
            </div>
            <script>
                var speed=30
                demo2.innerHTML=demo1.innerHTML
                function Marquee(){
                    if(demo2.offsetTop-demo.scrollTop<=0)
                        demo.scrollTop-=demo1.offsetHeight
                    else{
                        demo.scrollTop++
                    }
                }
                var MyMar=setInterval(Marquee,speed)
                demo.onmouseover=function() {clearInterval(MyMar)}
                demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
            </script>

        </td>
        <td width="313" align="left" valign="top" style="background:url(images/service_information.png) left top no-repeat;">

            <div id="qdemo" style="width:250px; height:350px; margin:90px 0 0 30px; font:16px/23px 微软雅黑,黑体; color:#000000; overflow:hidden;">
                <div id="qdemo1">
                    <table border=0 cellspacing=0 cellpadding=0 width=208 align=center>
                        <tbody>
                        <tr>
                            <td><div id="fah_list">
                                    <div class="unnamed2" align="left"><span class="h1818"><span class="style5">
                                  <script language=JavaScript>
                                  var i=0;
                                  for(i=0;i<22;i++){
                                      tmpDate=new Date();
                                      date=tmpDate.getDate();
                                      month= tmpDate.getMonth() + 1 ;
                                      year= tmpDate.getFullYear();
                                      document.write(year);
                                      document.write("年");
                                      document.write(month);
                                      document.write("月");
                                      document.write(date);
                                      document.write("日");

                                      var rand1=parseInt(Math.random()*22+1);
                                      quotes=new Array
                                      quotes[1]='<br /><span class="font1">张先生</span>'
                                      quotes[2]='<br /><span class="font1">刘先生</span>'
                                      quotes[3]='<br /><span class="font1">周先生</span>'
                                      quotes[4]='<br /><span class="font1">吴先生</span>'
                                      quotes[5]='<br /><span class="font1">朱先生</span>'
                                      quotes[6]='<br /><span class="font1">陈先生</span>'
                                      quotes[7]='<br /><span class="font1">田先生</span>'
                                      quotes[8]='<br /><span class="font1">钟先生</span>'
                                      quotes[9]='<br /><span class="font1">马先生</span>'
                                      quotes[10]='<br /><span class="font1">韩先生</span>'
                                      quotes[11]='<br /><span class="font1">顾先生</span>'
                                      quotes[12]='<br /><span class="font1">王先生</span>'
                                      quotes[13]='<br /><span class="font1">李先生</span>'
                                      quotes[14]='<br /><span class="font1">卢先生</span>'
                                      quotes[15]='<br /><span class="font1">崔先生</span>'
                                      quotes[16]='<br /><span class="font1">段先生</span>'
                                      quotes[17]='<br /><span class="font1">胡先生</span>'
                                      quotes[18]='<br /><span class="font1">潘先生</span>'
                                      quotes[19]='<br /><span class="font1">陈先生</span>'
                                      quotes[20]='<br /><span class="font1">林先生</span>'
                                      quotes[21]='<br /><span class="font1">代先生</span>'
                                      quotes[22]='<br /><span class="font1">苏先生</span>'
                                      var quote=quotes[rand1]

                                      document.write(quote)

                                      var rand1=parseInt(Math.random()*22+1)
                                      quotes=new Array
                                      var j=1;
                                      for(j=1;j<23;j++){
                                          var str='（13'+parseInt(Math.random()*9+1) + '****' + parseInt(Math.random()*9+1)+ parseInt(Math.random()*9+1)+parseInt(Math.random()*9+1)+parseInt(Math.random()*9+1)+'）'
                                          quotes[j]=str
                                      }
                                      var quote=quotes[rand1]

                                      document.write(quote)
                                      document.write('<br />')
                                      var rand1=parseInt(Math.random()*3+1)
                                      quotes=new Array
                                      quotes[1]='正在服务中……'
                                      quotes[2]='通过本站已预约……'
                                      quotes[3]='正在服务中……'
                                      quotes[4]='通过本站已预约……'
                                      var quote=quotes[rand1]
                                      document.write(quote)
                                      document.write('<br /><br />');
                                  }
                                  </script>
                              </span></span></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="qdemo2"></div>
            </div>
            <SCRIPT>
                var qspeed=30
                qdemo2.innerHTML=qdemo1.innerHTML //克隆demo1为demo2
                function qMarquee(){
                    //当滚动至demo1与demo2交界时
                    if(qdemo2.offsetTop-qdemo.scrollTop<=0)
                        qdemo.scrollTop-=qdemo1.offsetHeight //demo跳到最顶端
                    else{
                        qdemo.scrollTop++
                    }
                }
                var qMyMar=setInterval(qMarquee,qspeed)//设置定时器
                //鼠标移上时清除定时器达到滚动停止的目的
                qdemo.onmouseover=function() {clearInterval(qMyMar)}
                //鼠标移开时重设定时器
                qdemo.onmouseout=function(){qMyMar=setInterval(qMarquee,qspeed)}
            </SCRIPT>

        </td>
    </tr>
</table>
<table id="photo" width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:15px auto 0 auto; background:url(images/price.png) left top no-repeat;">
    <tr>
        <td height="141" align="left" valign="top">
            <div style=" width:850px; margin:25px 0 0 150px; overflow:hidden;">
                <span class="font1">专职普通：</span>欧式油压 中式指压  前列腺保养 温肾理疗　　<br />
                <span class="font1">专职优质：</span>欧式油压 中式指压 韩式松骨 泰式按摩 前列腺保养 温肾理疗 <br />
                <span class="font1">兼职白领：</span>欧式油压 中式指压 韩式松骨 泰式按摩 前列腺保养 温肾理疗 玉足之吻 幻彩丝足 嗅丝品袜 美腿漫游 　　<br />
                <span class="font1">兼职模特：</span>欧式油压 中式指压 韩式松骨 泰式按摩 前列腺保养 温肾理疗 玉足之吻 幻彩丝足 嗅丝品袜 美腿漫游 精油排毒 制服诱惑 精致恋足 全身放松
            </div>
        </td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; background:url(images/content_bg1.png) left top repeat-y;">
    <tr>
        <td align="left" valign="top"><table width="1100" border="0" cellspacing="0" cellpadding="0" style="margin:0 0 0 16px;">
                <tr>
                    <td height="320" align="center" valign="middle"><a href="images/photo2_6.jpg"  target="_blank"><img src="images/photo2_6.jpg"  width="260" height="320"  alt=""/></a></td>
                    <td width="20" align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo2_9.jpg"  target="_blank"><img src="images/photo2_9.jpg"  width="260" height="320"  alt=""/></a></td>
                    <td width="20" align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo1_1.jpg"  target="_blank"><img src="images/photo1_1.jpg"  width="260" height="320"  alt=""/></a></td>
                    <td width="20" align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo2_10.jpg"  target="_blank"><img src="images/photo2_10.jpg"  width="260" height="320"  alt=""/></a></td>
                </tr>
                <tr>
                    <td height="40" align="center" valign="middle">专职优质8号 24/162/50</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">专职优质12号 23/159/48</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">专职普通5号 25/162/51</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">专职优质22号 25/163/51</td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle"><a href="images/photo1_20.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo2_9.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo1_1.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo2_10.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                </tr>
            </table>
            <table width="1100" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 16px;">
                <tr>
                    <td height="320" align="center" valign="middle"><a href="images/photo4_15.jpg"  target="_blank"><img src="images/photo4_15.jpg"  width="260" height="320"  alt=""/></a></td>
                    <td width="20" align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo1_13.jpg"  target="_blank"><img src="images/photo1_13.jpg"  width="260" height="320"  alt=""/></a></td>
                    <td width="20" align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo4_16.jpg"  target="_blank"><img src="images/photo4_16.jpg"  width="260" height="320"  alt=""/></a></td>
                    <td width="20" align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo3_20.jpg"  target="_blank"><img src="images/photo3_20.jpg"  width="260" height="320"  alt=""/></a></td>
                </tr>
                <tr>
                    <td height="40" align="center" valign="middle">兼职模特208号 27/168/53</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">专职普通15号 22/162/48</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">兼职模特236号 25/163/50</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">兼职白领101号 24/161/49</td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle"><a href="images/photo4_15.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo1_13.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo4_16.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><a href="images/photo3_20.jpg"  target="_blank"><img src="images/button.jpg"  width="100" height="32"  alt=""/></a></td>
                </tr>
            </table></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="93" align="left" valign="top"><img src="images/bottom_1.png"  width="1142" height="93"  alt=""/></td>
    </tr>
</table>
<table id="process" width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:30px auto 0 auto;">
    <tr>
        <td height="169" align="center" valign="middle"><img src="images/service_flow.png"  width="943" height="169"  alt=""/></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:20px auto 0 auto; background:url(images/step1.png) left top no-repeat;">
    <tr>
        <td height="135" align="left" valign="top">
            <div style=" width:700px; margin:25px 0 0 280px; font:16px/30px 微软雅黑,黑体; color:#000000; overflow:hidden;">
                新老客人上门按摩电话预约：137-6107-9413  （业务繁忙，请不要短信预约、非诚勿忧！如电话占线不通或通后无人接听，请稍候再试！或加微信137-6107-9413）
            </div>
        </td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:20px auto 0 auto; background:url(images/step2.png) right top no-repeat;">
    <tr>
        <td height="135" align="left" valign="top">
            <div style=" width:700px; margin:35px 0 0 155px; font:16px/30px 微软雅黑,黑体; color:#ffffff; overflow:hidden;">
                按照客人所选技师或者按照客人提出的要求安排技师；请说出您的详细地址和联系方式，如在酒店请提供总台电话和房间号码。
            </div>
        </td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:20px auto 0 auto; background:url(images/step3.png) left top no-repeat;">
    <tr>
        <td height="135" align="left" valign="top">
            <div style=" width:600px; margin:35px 0 0 320px; font:16px/30px 微软雅黑,黑体; color:#ffffff; overflow:hidden;">
                与客人沟通后，经客人同意后方可安排<strong>按摩</strong>技师前往服务，正常情况下，上海市区内技师半小时左右到达您的住所，请耐心等待。
            </div>
        </td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:30px auto 0 auto; background:url(images/step4.png) right top no-repeat;">
    <tr>
        <td height="135" align="left" valign="top">
            <div style=" width:620px; margin:20px 0 0 220px; font:16px/30px 微软雅黑,黑体; color:#000000; overflow:hidden;">
                技师到达后与客人当面沟通，如客人不满意，支付技师往返车费，请求更换技师或服务结束。客人对技师满意后，技师开始服务。
            </div>
        </td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:20px auto 0 auto; background:url(images/step5.png) left top no-repeat;">
    <tr>
        <td height="135" align="left" valign="top">
            <div style=" width:670px; margin:35px 0 0 300px; font:16px/30px 微软雅黑,黑体; color:#ffffff; overflow:hidden;">
                技师服务结束，与客人结帐。
            </div>
        </td>
    </tr>
</table>
<table id="service" width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:15px auto 0 auto;">
    <tr>
        <td height="69" align="left" valign="top"><img src="images/service_item.png"  width="1150" height="69"  alt=""/></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; background:url(images/content_bg1.png) left top repeat-y;">
    <tr>
        <td align="left" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0" style="margin:50px auto 20px auto;">
                <tr>
                    <td width="277" align="center" valign="middle"><img src="images/277x80_1.jpg"  width="277" height="80"  alt=""/></td>
                    <td width="84" align="center" valign="middle">&nbsp;</td>
                    <td width="277" align="center" valign="middle"><img src="images/277x80_2.jpg"  width="277" height="80"  alt=""/></td>
                    <td width="85" align="center" valign="middle">&nbsp;</td>
                    <td width="277" align="center" valign="middle"><img src="images/277x80_3.jpg"  width="277" height="80"  alt=""/></td>
                </tr>
                <tr>
                    <td height="50" align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>精油养生</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>中式推拿</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>泰式按摩</td>
                </tr>
                <tr>
                    <td align="left" valign="top"><strong>上海上门按摩</strong>精油保健是运用芳香植物蒸馏萃取出的精油，以获得身、心、灵之整合性疗效，是辅助疗法中被护理人员使用第二位。精油含酮、酯化学成份，这些成分决定它的治疗特性，可透过直接吸入、沐浴、等方式来使用，改善焦虑、疼痛、疲倦及伤口愈合等情形。</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="left" valign="top">中式推拿是在中医推拿手法基础上发展起来的，<strong>上海上门服务</strong>中式推拿侧重于治疗，儒家指压侧重于保健。根据中庸之道的原理采用刚柔并济中医理疗的手法，对人体的相关穴位进行按、揉、磨、搓等刺激穴位，促进人体的新陈代谢，调节机体功能。</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="left" valign="top">泰式按摩是以筋骨、气血、经络达到三通，它可以预防肩 周炎、颈椎炎、骨质增生、腰酸腿痛、解除疲劳等有好处 ，<strong>上海酒店上门</strong>泰式按摩包括法式、踩背、跪背、松骨等。按摩可以“扶正去 邪”使人气血流畅、阴阳调和、脏腑生机旺盛、经络流通 ，增强人体的免疫力。达到“通则不痛，痛则不通”的原理。</td>
                </tr>
                <tr>
                    <td colspan="5" align="center" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" valign="middle"><img src="images/277x80_4.jpg"  width="277" height="80"  alt=""/></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><img src="images/277x80_5.jpg"  width="277" height="80"  alt=""/></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><img src="images/277x80_6.jpg"  width="277" height="80"  alt=""/></td>
                </tr>
                <tr>
                    <td height="50" align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>欧式油压</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>韩式松骨</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>丝足情缘</td>
                </tr>
                <tr>
                    <td align="left" valign="top">以全身的经脉为主推油，包括前胸、后背、腹部、胳膊、臀部、腿部位等，<strong>上海上门推油</strong>按摩不但有降低血压、促进血液循环、消除 疲劳的作用，而且更能制造浪漫气氛。它借助各类按摩油和精油，在身个部位推拿搓揉，能美容、去病，而且精油所带来肌肤柔滑的效果，让您彻底放松，感觉如鱼得水，孰称最绿色的放松方式。</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="left" valign="top">韩式松骨是流行于韩国的一种<strong>上海酒店上门按摩</strong>手法，它起源于中国古代的传统按摩手法。
                        并不断吸取其他各式按摩手法逐渐演变出来的。它集美容按摩、手足按摩、传统中医按摩三式为一体，其手法细腻舒适，动作缓慢柔和，简单实用。它包括：面部、头部、胳膊、腿、肚子、足底的护理；背部推油；热疗跪背等按摩。</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="left" valign="top"><strong>上海丝足按摩</strong>的起源是因人的恋物欲望而产生的新型按摩形式，这个过程全部取决于顾客对玉足和美腿的迷恋程度，丝足的过程包括两部分，一是丝袜的形式和颜色，二是腿 型和脚型的美观程度，一次完美的上海丝足按摩可以让顾客达到真正的身心放松，她是居家无法代替的心与性的结合产物，肉色丝袜是淡妆，彩色丝袜是浓妆，浓妆淡抹间丝袜给女人别样的风情！</td>
                </tr>
                <tr>
                    <td colspan="5" align="center" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" valign="middle"><img src="images/277x80_7.jpg"  width="277" height="80"  alt=""/></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><img src="images/277x80_8.jpg"  width="277" height="80"  alt=""/></td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle"><img src="images/277x80_9.jpg"  width="277" height="80"  alt=""/></td>
                </tr>
                <tr>
                    <td height="50" align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>情趣制服</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>温肾理疗</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle" style="font:bold 22px 微软雅黑,黑体; color:#f2009f;">>前列腺保养</td>
                </tr>
                <tr>
                    <td align="left" valign="top">只有在电影里才能见到服务今天在本店<strong>上海保健按摩</strong>制服诱惑您就可以实现，神圣的警花、时尚的空姐、漂亮的护士...，在这里都可以成为游戏中的角色，也许这是一生的理想和愿望，我们能帮你顷刻实现你的人生童话，满足你内心多年的愿望。</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="left" valign="top"><strong>上海酒店按摩</strong>保健师会采用纯天然的玫瑰花精油按摩您的腰，腹， 臀[三角区部位]等全部穴位以达到对您肾部的保健作用，包括男士的敏感部位也是服务到位的，该手法主要是用来刺激您(生殖器,肛门)一带的穴位,以达到保健养生和增强您的性功能的效果。</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="left" valign="top"><strong>上海上门全套</strong>按摩经过特殊的按摩手法让油渗入你的肛部肌肤，并做深入穴位的按摩,再全身用指法操作所产生的刺激 信息通过反射方式对人体的神经体液调整功能施以影响,从而达到保健养生的效果。</td>
                </tr>
            </table></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="93" align="left" valign="top"><img src="images/bottom_1.png"  width="1142" height="93"  alt=""/></td>
    </tr>
</table>
<table id="vip" width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="69" align="left" valign="top"><img src="images/vip.png"  width="1142" height="248"  alt=""/></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; background:url(images/content_bg1.png) left top repeat-y;">
    <tr>
        <td align="left" valign="top"><table width="950" border="0" cellspacing="0" cellpadding="0" style="margin:20px auto 0 auto;">
                <tr>
                    <td align="left" valign="top"><img src="images/vip_ico1.png"  width="264" height="223"  alt=""/></td>
                    <td width="79" align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top"><img src="images/vip_ico2.png"  width="264" height="223"  alt=""/></td>
                    <td width="79" align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top"><img src="images/vip_ico3.png"  width="264" height="223"  alt=""/></td>
                </tr>
                <tr>
                    <td align="left" valign="top" class="font1 italic">消费一次即可获得此会员卡（消费累计到5次，自动升级银卡会员。</td>
                    <td align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top" class="font1 italic">5000元/卡；银卡会员将享有免支付来回路费。</td>
                    <td align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top" class="font1 italic">10000元∕卡；金卡会员消费打9折，且享有免支付来回路费。</td>
                </tr>
                <tr>
                    <td height="50" colspan="5" align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5" align="left" valign="top"> 1、会员卡金额消费完后请自动充值，睡眠卡一律作废。<br>
                        2、消费一次即可获得绿卡会员，累计消费5次，自动升级为银卡会员。<br>
                        3、银卡会员和金卡会员可持会员卡均可享受免除制服来回路费优惠服务。<br>
                        4、<span class="font1">因会员名额有限，目前会员已经满员，需办理VIP卡的新老客户随时关注网站公告。</span> </td>
                </tr>
            </table></td>
    </tr>
</table>
<table id="reminder" width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="93" align="left" valign="top"><img src="images/bottom_1.png"  width="1142" height="93"  alt=""/></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td height="169" align="center" valign="middle"><img src="images/reminder.png"  width="632" height="169"  alt=""/></td>
    </tr>
</table>
<table width="1150" border="0" cellspacing="0" cellpadding="0" style="margin:30px auto 110px auto;">
    <tr>
        <td align="left" valign="top">
            <span class="font1">关于安全：</span>本会所是一家集娱乐休闲为一体的现代化保健按摩中心，提供各类型的上门按摩服务。上海治安算不错的吧，类似于”仙人跳“这种敲诈勒索是要坐好几年的。我们公司已经上门了千家万户，干嘛做这种吃力不讨好的事情，服务地点和时间皆由客人您决定，如某某酒店，某某宾馆等，或者您的住宅，客人选好地点， 我们的技师将以最快的速度到达客人您指定的地点，因此您不必担心有什么欺诈行为，我们按摩中心秉承“品质第一 服务至上”的经营理念，精力8年的发展 历程打造了今天的行业翘楚。<br />
            <br />

            <span class="font1">服务区域：</span>只要您在上海外环以内我们都可以给您安排，外环以外具体您可以咨询客服，看是否服务得到。但首先要确定您选择的地址的真实性， 然后根据您的要求（身高 年龄 身材 样貌 肤色）安排技师过去。如果您不喜欢只需要及时与客服沟通,我们将根据您的要求给您更换技师或者您不再需要服务，只要支付下技师来回路费就可以了。我们坚信我们能做到让您满意。<br />
            <br />

            <span class="font1">关于项目：</span>我们总共开设了9个服务项目，我们一直在努力，确保项目之间不雷同或太相似，使各个项目都具有自身特色，带给您完全不同的体验感受。您可以根据自己的喜好选择其中任一项目来消费，我们决不强行推荐。当然，您如果初次接触或不太了解，建议您尽量都体验几次。保健按摩服务完全是纯手工活，我们虽然对每一个上岗技师都做了统一的技法传授训练，但毕竟个体之间存在领悟能力的差异和熟练程度不同，在实际执行过程中会有所区别。建议您同一项目尝试几名不同技师的手法，结果总会有意想不到的收获。<br />
            <br />

            <span class="font1">质量保证：</span>我们不敢说我们的价格是最低的，但我们在确定收费价格时，大众的消费习惯是我们首要考虑的因素，我们倡导的是“技术享受型”的服务理念，我们在招募技师时，决不掺入我们自身的喜好，对高矮胖瘦作出取舍，因而我们的技师来自各地，语言、文化、习俗、性格等各不相同，您同样可以通过多次的体验接触来找到您喜欢的。我们不希望只做您一次生意，我们力求拿出最有价值(最具性价比)的服务体验，能让您成为我们的常客。
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; font:16px/30px 微软雅黑,黑体; color:#000000;">
    <tr>
        <td height="60" align="center" valign="middle"><font size="3" color="white">版权所有 Copyright(C)2009-2010 上海如家上门按摩会所，本店只提供正规保健养生按摩服务。本网站禁止拷贝、复制、克隆，本公司绝无分店 有复制本网站者，属于虚假信息。 一经发现，后果自负，请谨慎对待。</font></td>
    </tr>
</table>

<center><script language="javascript" type="text/javascript" src="http://js.users.51.la/18958897.js"></script>
    <noscript><a href="http://www.51.la/?18958897" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/18958897.asp" style="border:none" /></a></noscript></center>

<SCRIPT LANGUAGE="JavaScript" src=http://float2006.tq.cn/floatcard?adminid=9754047&sort=0 ></SCRIPT>

</body>
</html>
