<div class="row">
    <% products.forEach(function (p, index) { %>
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x500" src= <%=p.image%> />
            <div class="caption">
                <p>
                    昵称: <%=p.nickname %>
                </p>
                <p>
                    年龄: <%=p.age%>
                </p>
                <p>
                    手机号: <%=p.mobile%>
                </p>
                <p>
                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                </p>
            </div>
        </div>
    </div>
    <% }) %>
</div>