<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://oo3l8sz3b.bkt.clouddn.com/0004.jpeg" />
                </div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://oo3l8sz3b.bkt.clouddn.com/0004.jpeg" />
                </div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://oo3l8sz3b.bkt.clouddn.com/0004.jpeg" />
                </div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://oo3l8sz3b.bkt.clouddn.com/0004.jpeg" />
                </div>
            </div>
        </div>
    </div>
</div>
